<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/jquery.bootstrap.year.calendar.css}" /> -->
	
	<title>Estacionaí</title>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Estacion<b>aí</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}"><i class="fa fa-home"></i> Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" th:href="@{/blocos}" id="navbarBlocos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-parking"></i> Blocos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarBlocos">
          <a class="dropdown-item" href="">Bloco A</a>
          <a class="dropdown-item" href="">Bloco B</a>
          <a class="dropdown-item" href="">Bloco C</a>
          <a class="dropdown-item" href="">Bloco D</a>
          <a class="dropdown-item" th:href="@{/blocos/novo}">Adicionar Bloco</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" th:href="@{/clientes}" id="navbarCliente" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarCliente">
          <a class="dropdown-item" th:href="@{/clientes}">Buscar</a>
          <a class="dropdown-item" th:href="@{/clientes/novo}">Cadastrar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-tie"></i> Funcionários
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAdmin">
          <a class="dropdown-item" th:href="@{/sigem/usuarios}">Consultar usuário</a>
          <a class="dropdown-item" th:href="@{/sigem/usuarios/cadastrar}">Cadastrar usuário</a>
          <a class="dropdown-item" th:href="@{/sigem/usuarios}">Excluir usuário</a>
          <a class="dropdown-item" th:href="@{/sigem/perfilUsuarios}">Consultar perfil</a>
          <a class="dropdown-item" th:href="@{/sigem/perfilUsuarios/cadastrar}">Cadastrar perfil</a>
          <a class="dropdown-item" th:href="@{/sigem/perfilUsuarios}">Excluir perfil</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" th:href="@{/}" id="navbarRelatorio" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-chart-bar"></i> Relatórios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarRelatorio">
          <a class="dropdown-item" th:href="@{/relatorios}" >Relatório de Contas à pagar</a>
          <a class="dropdown-item" th:href="@{/relatorios}" >Relatório de Contas à receber</a>
          <a class="dropdown-item" th:href="@{/relatorios}" >Relatório de Movimentos de clientes</a>
          <a class="dropdown-item" th:href="@{/relatorios}" >Relatório de Equipamentos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" th:href="@{/}" id="navbarContas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-dollar-sign"></i> Contas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarContas">
          <a class="dropdown-item" >Contas à pagar</a>
          <a class="dropdown-item" >Contas à receber</a>
          <a class="dropdown-item" >Documentação de Equipamentos</a>
          <a class="dropdown-item" >Equipamentos</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
	<div>
		<div class="push"></div>
		<section layout:fragment="content">
			Conteudo!
		</section>
		<div class="push"></div>
		<!-- FOOTER -->
		<footer >
			<div class="container-fluid">
				<span >&copy; 2017 ESTACIONAÍ.</span>
			</div>
		</footer>
	</div>
	
	
	<!-- include javascript in the footer -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>  
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-maskedinput/1.3.1/jquery.maskedinput.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!--     <script th:src="@{/javascripts/jquery.bootstrap.year.calendar.js}"></script> -->

	<script>
	jQuery(function($){
			$('.js-moeda').mask("#.##9,99", { reverse: true });
			$('.js-tel').mask("(99) 9999-9999");
			$('.js-cpf').mask("999.999.999-99");
			$('.js-placa').mask("aaa-9999");
// 			$('.calendar').calendar({
// 				showHeaders: true,
// 				colsMd: 6,
// 				maxMonth: 1,
// 				minMonth: 1
// 			});
			
			
		});
	</script>
    
</body>
</html>