<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
</head>


<body>

		<section layout:fragment="content">
		
		<nav aria-label="breadcrumb" th:if="${cliente.id != null}">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
			    <li class="breadcrumb-item"><a th:href="@{/clientes}">Clientes</a></li>
			    <li class="breadcrumb-item" ><a th:href="@{/clientes/editar/{id}(id=${cliente.id})}" th:text="${cliente.nome}">Nome</a></li>
			    <li class="breadcrumb-item" ><a th:href="@{/veiculos/visualizar/{id}(id=${cliente.id})}">Veiculos</a></li>
			    <li class="breadcrumb-item active" aria-current="page" th:text="${veiculo.placa}">Veiculo</li>
			  </ol>
		</nav>
		
		
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-lg-8">
							<h1>
								Cadastro veiculo
							</h1>
							<p>
							* Campos obrigatórios
							</p>
						</div>

						<div class="col-md-4 col-lg-4">
<!-- 								<a class="btn btn-primary" th:href="@{/veiculos}"> -->
<!-- 									<i class="fa fa-table"></i> -->

<!-- 									<span class="hidden-xs hidden-sm">Lista veiculos</span> -->
<!-- 								</a> -->
						</div>
					</div>
				</div>

			<div class="container">
				<form method="POST" class="form-vertical"
				th:object="${veiculo}" th:action="@{/veiculos/novo}">
				
				<div class="alert  alert-danger  alert-dismissible" role="alert" 
                th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div th:each="erro: ${#fields.detailedErrors()}">
						<i class="fa fa-exclamation-circle"></i>
						
						<span th:text="${erro.message}">Mensagem erro.</span>
					</div>
				</div>
				
				
				<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>

					<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>
				
					<input id="id" type="hidden" th:field="*{id}" value="${veiculo.id}" />
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>*Renavam</label>
							<input type="text" class="form-control" th:field="*{renavam}" placeholder="Digite a numero do renavam"/>
						</div>
						<div class="form-group col-md-6">
							<label>*Placa</label>
	
							<input id="placa" type="text" class="form-control js-placa" th:field="*{placa}" placeholder="Digite a placa"/>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label >*Modelo</label>
						      <input type="text" class="form-control" th:field="*{modelo}" placeholder="Digite o modelo">		  
						 </div>
						 <div class="form-group col-md-6">
						 <label >*Marca</label>
						      <input type="text" class="form-control" th:field="*{marca}" placeholder="Digite a marca">		  
						 </div>
					 </div>
					 <div class="form-row">
						 <div class="form-group col-md-6">
						 	<label>*Tipo:</label>
							 <select id="tipo" th:field="*{tipo}" class="form-control">
						    	<option value="CARRO" selected="selected">Carro</option>
						    	<option value="MOTO">Moto</option>
						    </select>
					    </div>
					    
						 <div class="form-group col-md-6">
						 <label >*Ano</label>
						      <input type="number" class="form-control" th:field="*{ano}" placeholder="Informe o ano">		  
						 </div>
					 </div>
					 


					<div class="form-group">
						<button class="btn  btn-primary" th:if="${veiculo.id == null}" type="submit"><i class="fa fa-save"></i> Salvar</button>
						<button class="btn  btn-primary" th:if="${veiculo.id != null}" type="submit"><i class="fa fa-save"></i> Atualizar</button>
						<a class="btn  btn-danger"  href="#"><i class="fa fa-times"></i> Cancelar</a>
					</div>
				</form>
			</div>
		</section>

</body>
</html>
