<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/lista-veiculos.css}" /> -->
</head>


<body>

		<section layout:fragment="content">
		
		<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
			    <li class="breadcrumb-item"><a th:href="@{/clientes}">Clientes</a></li>
			    <li class="breadcrumb-item" th:if="${cliente.id != null}"><a th:href="@{/clientes/editar/{id}(id=${cliente.id})}" th:text="${cliente.nome}">Nome</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Veiculos</li>
			  </ol>
		</nav>
		
		
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>
								Veiculos registrados
							</h1>
						
						<hr />
						</div>
					</div>
				</div>
				

			<div class="container">
			<div class="row">
			<div class="col-md-12">
			
				<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>

					<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>
				
<!-- 				<form  th:object="${filtro}" th:action="@{/veiculos}" method="POST" -->
<!-- 							class="form-default form-horizontal" > -->
<!-- 					<div class="form-group"> -->
<!-- 						<label>Renavam</label> -->
<!-- 						<input type="text" class="form-control" th:field="*{renavam}" placeholder="Digite a numero do renavam"/> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 							<label >Placa</label> -->
<!-- 					      <input type="text" class="form-control" th:field="*{placa}" placeholder="Digite a placa">		   -->
<!-- 					 </div> -->
<!-- 					 <div class="form-group"> -->
<!-- 					 <label >Modelo</label> -->
<!-- 					      <input type="text" class="form-control" th:field="*{modelo}" placeholder="Digite o modelo">		   -->
<!-- 					 </div> -->
<!-- 					 <div class="form-group"> -->
<!-- 					 <label >Marca</label> -->
<!-- 					      <input type="text" class="form-control" th:field="*{marca}" placeholder="Digite a marca">		   -->
<!-- 					 </div> -->
<!-- 					 <div class="form-group"> -->
<!-- 					 	<label>Tipo:</label> -->
<!-- 						 <select id="tipo" th:field="*{tipo}" class="form-control"> -->
<!-- 					    	<option value="" selected="selected">Carro e Moto</option> -->
<!-- 					    	<option value="CARRO" >Carro</option> -->
<!-- 					    	<option value="MOTO" >Moto</option> -->
<!-- 					    </select> -->
<!-- 				    </div> -->
<!-- 					 <div class="form-group"> -->
<!-- 					 <label >Ano</label> -->
<!-- 					      <input type="number" class="form-control" th:field="*{ano}" placeholder="Informe o ano">		   -->
<!-- 					 </div> -->
<!-- 					<div class="form-group"> -->
<!-- 					      <button class="btn  btn-primary" type="submit"><i class="fa fa-search"></i> Pesquisar</button> -->
<!-- 					      <a class="btn btn-primary" th:href="@{/veiculos}"> -->
<!-- 							<span class="hidden-xs hidden-sm"><i class="fa fa-search"></i> Buscar todos</span> -->
<!-- 						</a> -->
<!-- 					</div>    -->
<!-- 				</form> -->
				
<!-- 				<hr /> -->
	
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Digite a placa" >
				  <div class="input-group-append">
				    <button class="btn btn-outline-secondary" type="button"><span class="fa fa-search"></span> Pesquisar</button>
				    <button class="btn btn-primary"><i class="fa fa-car"></i> Adicionar novo veiculo</button>
				  </div>
				</div>
				<br />
				<div class="table-responsive">
					<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
						<thead class="aw-table-header-solid">
							<tr>
								<th class="av-table-vinhos-col-codigo">Código</th>
								<th>Placa</th>
								<th >Modelo</th>
								<th >Tipo</th>
								<th >Editar</th>
								<th>Excluir</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="veiculo : ${veiculos}">
								<td class="text-center" th:text=${veiculo.id}>1</td>

								<td th:text=${veiculo.placa}>Placa
								</td>

								<td  th:text=${veiculo.modelo}>Ford</td>

								<td  th:text=${veiculo.tipo}>Moto</td>

								
								<td class="text-center">
									<a class="btn btn-info" th:href="@{/veiculos/editar/{id}/{idCliente}(id=${veiculo.id},idCliente=${cliente.id})}" ><span class="fa fa-pencil-alt"></span></a>
								
								</td>
								<td class="text-center">
									<form method="POST" th:onsubmit="'return confirm(\'Posso remover ' + ${veiculo.placa} + '?\');'"
									th:action="@{/veiculos/{id}(id=${veiculo.id})}">
										<input type="hidden" name="_method" value="DELETE" />
									
										<button type="submit" class="btn btn-danger">
											<span class="fa fa-trash"></span>
										</button>
									</form>
								</td>
							</tr>

							<tr th:if="${veiculos.empty}">
								<td colspan="5">Nenhum veiculo cadastrado</td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
			</div>
			</div>
		</section>

</body>
</html>
