<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
</head>


<body>

		<section layout:fragment="content">
		
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Blocos</li>
			  </ol>
			</nav>
		
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>
								Cadastro bloco
							</h1>
						</div>
					</div>
				</div>

			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<form method="POST" class="form-vertical">
						
							<div class="form-group">
								<button class="btn btn-block  btn-primary" type="submit"><i class="fa fa-motorcycle"></i> Adicionar vaga de moto</button>
							</div>
							
							<div class="form-group">
								<button class="btn btn-block  btn-primary" type="submit"><i class="fa fa-car"></i> Adicionar vaga de carro</button>
							</div>
							
							<div class="form-group">
								<button class="btn btn-block  btn-primary" type="submit"><i class="fab fa-accessible-icon"></i> Adicionar vaga de deficiente</button>
							</div>
							
							 <div class="form-group">
							 <label >*Nome Bloco</label>
							  <input type="text" class="form-control"  placeholder="Informe o nome do bloco">		  
							 </div>
							 
							 <div class="form-group">
							 <label >Vagas adicionadas</label>
							  <input type="text" readonly="readonly" class="form-control"  placeholder="Numero de vagas adicionadas">		  
							 </div>
							
						
		
							<div class="form-group">
								<button class="btn  btn-success" type="submit"><i class="fa fa-save"></i> Cadastrar</button>
							</div>
						</form>
					</div>
					<div class="col-md-8">
						<h2>Mapa aqui</h2>
					</div>
				</div>
			</div>
		</section>

</body>
</html>
