<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
</head>


<body>

		<section layout:fragment="content">
		
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
			    <li class="breadcrumb-item"><a th:href="@{/contas/receber}">Contas à receber</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Cadastro</li>
			  </ol>
			</nav>
		
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>
								Cadastro Conta
							</h1>
						</div>
					</div>
				</div>

			<div class="container border rounded p-3" style="border-color: graytext;">
			
			<div class="row">
						<div class="col-md-12">
							
							<p>
							* Campos obrigatórios
							</p>
						</div>
					</div>
			
				<div class="row">
					<div class="col-md-12">
						<form method="POST" class="form-vertical" th:object="${contaReceber}" th:action="@{/contas/receber/novo}">
						
						<div class="alert  alert-danger  alert-dismissible" role="alert" 
		                th:if="${#fields.hasAnyErrors()}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
		
							<div th:each="erro: ${#fields.detailedErrors()}">
								<i class="fa fa-exclamation-circle"></i>
								
								<span th:text="${erro.message}">Mensagem erro.</span>
							</div>
						</div>
						
						<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
							<i class="fa fa-check-circle"></i>
		
							<span th:text="${mensagem}">Mensagem sucesso!</span>
						</div>
						
					<input id="id" type="hidden" th:field="*{id}" value="${contaReceber.id}" />
					<div class="form-group">
						<label>*Conta</label>

						<input type="text" class="form-control" th:field="*{nome}" placeholder="Digite o nome da conta" />
					</div>
					 <div class="form-group">
					 <label >*Data de vencimento</label>
					      <input type="text" class="form-control js-data" th:field="*{dataVencimento}" placeholder="Digite a data de vencimento">		  
					 	<small class="form-text text-muted">
						      	Exemplo: 10/10/2010
							  </small>	
					 </div>
					 <div class="form-group">
					 <label >*Valor</label>
					      <input type="text" class="form-control" th:field="*{valor}" placeholder="Digite o valor">		  
					 </div>
							
						
		
							<div class="btn-group">
								<button class="btn  btn-success" th:if="${contaReceber.id == null}" type="submit"><i class="fa fa-save"></i> Cadastrar</button>
								<button class="btn  btn-success" th:if="${contaReceber.id != null}" type="submit"><i class="fa fa-save"></i> Atualizar</button>							
								<a class="btn  btn-danger " role="group" th:href="@{/contas/receber}"><i class="fa fa-times"></i> Cancelar</a>
						</div>
						</form>
					</div>
				</div>
			</div>
		</section>

</body>
</html>
